html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}
h1{
    background-color: red;
    margin: auto;
    height: 20vh;
    width: 200px;
    text-align: center;
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
}

main{
    background-color: blue;
    display: inline-block;
    width: 50%;
}
/* the only time that space in html effect on the block level tags is in this situation we have inline-block display in main and aside and they are must to be next to each other but it doesn't happen because there is space between main and aside in html if you put them next to each other it will work */
aside{
    background-color: green;
    display: inline-block;
    width: 50%;
}


